body {
  font-family: Arial, sans-serif;
  background-color: var(--second-color);
  color: #fffffb;
  margin: 0;
  padding: 0 10px;
  min-width: 300px;
}
:root {
  --main-color: #b8b8d1;
  --second-color: #5b5f97;
  --text-color: #fffffb;
  --bg-main: #ffc145;
  --bg-second: #f24646;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo h1 {
  font-size: 30px;
  color: var(--bg-main);
}

.profile {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.greeting {
  margin-top: 20px;
}

#greeting p {
  font-size: 1.2em;
}

.task-input {
  margin: 20px 0;
}

#task-input,
#task-level,
button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background: var(--main-color);
}
button {
  background: var(--bg-main);
}
button:hover {
  background: #b6882d;
}
#task-input {
  width: 250px;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid #2b2626;
}

th,
td {
  padding: 12px;
  text-align: left;
}

.actions {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.delete-btn {
  padding: 5px 10px;
  background-color: var(--bg-second);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #bc1e1e;
}
#delete-all {
  padding: 10px 20px;
  background-color: var(--bg-second);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#delete-all:hover {
  background-color: #bc1e1e;
}

#completed-list {
  margin-top: 20px;
  padding: 10px;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through 1px black;
  font-size: 16px;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 5px;
  width: auto;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
